.topnav {
    overflow: hidden;
    background-color: black;
    line-height: 60px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    text-align: center;
  }
  #logo {
    width: 65px;
    height: 65px;
  }
  .topnav a {
    float: center;
    display: inline-block;
    color: white;
    background-image: url(images/poster1.png);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
  }
  
  .topnav a:hover {
    color: #b6072d;
    background-color: black;
    text-decoration: none;
    animation: pulse;
    animation-duration: 1s;
    font-weight: bold;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }